<h1>Angular Template Driven Form</h1>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input type="text" name="email" ngModel><br><br>
  <input type="text" name="password" ngModel><br><br>
  <button type="submit">Login</button>
</form>


<h1>Angular Reactive Form with Validation</h1>
<div class="container">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      <span class="red-error" *ngIf="email.invalid && email.touched">Email Field is required</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


<h1>Add Validation in angular Form </h1>
<div class="container">
  <form #userForm1="ngForm" (ngSubmit)="onSubmit(userForm1.value)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" [ngModel]="userData.email" name="useremail" ngModel >
      <span class="red-error" *ngIf="email.invalid && email.touched">Email Field is required</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

